body {
    background-color: rebeccapurple;
}
.box {
    background-color: white;
    display: block;
    align-self: center;
    align-items: center;
    justify-content: center;
    max-width: 40%;
    max-height: 50%;
    margin: auto;
    margin-top: 20%;
    border-style: dashed;
    text-align: center;
  }
.box div {
    
}